div{
    padding-left: 20px;
    padding-bottom: 5px;
}
@mixin theme($theme: Beige) {
    background-color: beige;
    color: navy;
    font-weight: bolder;
}
form {
    select {
       @include theme(Beige)
    }
    input {
        @include theme(Beige)
    }
    label, output
    {
        color: navy;
        font-weight: bolder;
    }
    button {
        @include theme(Beige);
        border: 3px solid navy;
        border-radius: 15px;
    }
}
